QLBH.Win/Web References/WebReference/main.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/TransferData/Main" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/TransferData/Main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/TransferData/Main">
      <s:element name="GetDataOM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrgCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SubInvOrg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastDate" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataOMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PushDataSO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PushDataSOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDataOMSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataOM" />
  </wsdl:message>
  <wsdl:message name="GetDataOMSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataOMResponse" />
  </wsdl:message>
  <wsdl:message name="PushDataSOSoapIn">
    <wsdl:part name="parameters" element="tns:PushDataSO" />
  </wsdl:message>
  <wsdl:message name="PushDataSOSoapOut">
    <wsdl:part name="parameters" element="tns:PushDataSOResponse" />
  </wsdl:message>
  <wsdl:portType name="MainSoap">
    <wsdl:operation name="GetDataOM">
      <wsdl:input message="tns:GetDataOMSoapIn" />
      <wsdl:output message="tns:GetDataOMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PushDataSO">
      <wsdl:input message="tns:PushDataSOSoapIn" />
      <wsdl:output message="tns:PushDataSOSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MainSoap" type="tns:MainSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataOM">
      <soap:operation soapAction="http://tempuri.org/TransferData/Main/GetDataOM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushDataSO">
      <soap:operation soapAction="http://tempuri.org/TransferData/Main/PushDataSO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Main">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="MainSoap" binding="tns:MainSoap">
      <soap:address location="http://10.15.99.224/transferdata/main.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>